@import 'assets/styles/main.scss';

.bookingbox {

  &_status {
    .ant-tag {
      text-transform: capitalize;
    }
  }

  &_detail {
    margin-bottom: 40px;

    &_icon {
      font-size: 28px;
    }

    &_info {
      margin-left: 10px;
      margin-top: -5px;
      font-size: 13px;

      &_title {
        color: $primary-grey;
        text-transform: uppercase;
      }

      &_description {
        color: $primary-black;
        text-transform: capitalize;
      }
    }
  }
}
