$primary-white: #ffffff;
$secondary-white: #f8f9fa;

$primary-black: #111111;
$secondary-black: #595959;

$primary-blue: #00bdf2;
$secondary-blue: #5c99ff;

$primary-dark-blue: #233358;
$secondary-dark-blue: #324565;

$primary-grey: #67748e;

$primary-green: #05d34e;
$secondary-green: #b3c835;

$primary-red: #ff3232;
